.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #444;
  background-color: #fefefe;
  background-image: linear-gradient(#fc6c48 0%, #ef5081 100%);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 20px;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.wavy {
  position: relative;
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}
.wavy span {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  animation: animate 2s ease-in-out infinite;
  /* animation-delay: calc(0.1s * var(--i)); */
}



@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-30px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}
@media (max-width: 320px) {
  .wavy span {
    font-size: 110%;
  }
}
@media (max-width: 224px) {
  .wavy span {
    font-size: 80%;
  }
}
@media (max-width: 205px) {
  .wavy span {
    font-size: 70%;
  }
}
@media (max-width: 185px) {
  .wavy span {
    font-size: 50%;
  }
}
